<input type="text" [(ngModel)]="name">
<button (click)="postData()">Post data</button>
You have Successfully posted {{result}}
<h2 class="headingtitle">Angular: Making HTTP Requests with Firebase </h2>
<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"><div class="formcontainer">
<label><b>Title</b></label>
<input type="text" class="titleinput" name="title" ngModel required/>
<label><b>Content</b></label>
<textarea id="content" class="contenttextarea" name="content" ngModel required></textarea>
<button type="submit" class="postbutton">Send Post</button>
</div>
<div>
 <div>
   <button class="fetchbutton">Fetch Posts</button> |
   <button class="clearbutton">Clear Posts</button>
 </div>
</div>
</form>